@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

p, a {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
  color: lightcoral;
  margin-right: .2rem;
  margin-left: .2rem;
}

/* COLORS */

:root {
  --colOne: #B5E5CF;
  --colTwo: #B99095;
}

/* Flex etc */

.container {
  display: block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.colorOne {
  background-color: var(--colOne);
}
.colorTwo {
  background-color: var(--colTwo);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: .2rem;
}